# =========================
# Go
# =========================
/bin/
/dist/
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =========================
# Go modules
# =========================
/vendor/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.idea/
.vscode/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
